<!DOCTYPE html>


<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Message Board!</h1>

      <p>
        A simple place to share quick info with your groups!
      </p>
    </div>
  </body>
</html>
